.deleteBlock {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}