.profile {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loading {
    color: green;
}

.avatarContainer {
    width: 140px;
    position: relative;
}

.avatarButtons {
    position: absolute;
    top: 0;
    right: 0;
}