.files {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.previewContainer {
    width: 75vw;
    max-width: 525px;
    position: relative;
}

.preview {
    margin: 0 auto;
    overflow: hidden;
    width: 50vw;
    max-width: 400px;
    height: 50vw;
    max-height: 400px;
    background: center no-repeat;
    background-size: cover;
}

.bin {
    position: absolute;
    top: 40%;
    right: 0;
}

.video {
    width: 70vw;
    position: relative;
}

.video video, .videoControls {
    width: 100%;
}
.videoControls {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.playBtn {
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controlBtns {
    position: absolute;
    width: 100%;
    bottom: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timing {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timing span {
    color: white;
}

.settings {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}