.packs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table {
    margin: 10px 0;
    border: 2px solid rgb(133, 89, 89);
}

.cellWithButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

th {
    text-align: left;
    vertical-align: middle;
    width: 50px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}